doctype html
html(lang="en")
    //- Head
    - const title = "Home"
    include ../includes/head.pug
    +head

    //- Body
    body
        
        //- Navbar top menu
        include ../includes/nav.pug

        //- Header
        header.container-fluid.p-0
            #carousel.carousel.slide(data-ride="carousel", data-interval="2000", data-pause="hover", data-touch="true")
                ol.carousel-indicators
                    li.active(data-target="#carousel", data-slide-to="0")
                    li(data-target="#carousel", data-slide-to="1")
                    li(data-target="#carousel", data-slide-to="2")
                .carousel-inner
                    #first.carousel-item.active
                        .card.border-0
                            img.d-block.w-100(src=require('../../img/banner-1.jpg'), alt="")
                            .card-img-overlay.row.justify-content-center.align-items-center
                                #item_heading1.col-.text-center
                                    h1.card-title Mobile Phone Store
                                    p.card-text Principal commercial brands
                    #second.carousel-item
                        .card.border-0
                            img.d-block.w-100(src=require('../../img/banner-2.jpg'), alt="")
                            .card-img-overlay.row.justify-content-center.align-items-center
                                #item_heading2.col-.text-center
                                    h1.card-title iPhone & Smartphone#[br]Repair
                                    p.card-text We only use Premium Parts
                    #third.carousel-item
                        .card.border-0
                            img.d-block.w-100(src=require('../../img/banner-3.jpg'), alt="")
                            .card-img-overlay.row.justify-content-center.align-items-center
                                #item_heading3.col-.text-center
                                    h1.card-title Latest Smartphone accessories
                                    p.card-text Principal commercial brands
                a.carousel-control-prev(href="#carousel", role="button", data-slide="prev")
                    span.carousel-control-prev-icon(aria-hidden="true")
                    span.sr-only Previous
                a.carousel-control-next(href="#carousel", role="button", data-slide="next")
                    span.carousel-control-next-icon(aria-hidden="true")
                    span.sr-only Next

        aside#rrss
            ul.nav.justify-content-center
                li.nav-item
                    a(
                        href="https://www.instagram.com/dvwireless/",
                        target="_blank"
                    )
                        svg(
                            xmlns="http://www.w3.org/2000/svg",
                            width="38",
                            height="38",
                            class="icon",
                            data-icon="instagram",  viewBox="0 0 448 512"
                        )
                            path(
                                d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                            )
                li.nav-item
                    a(
                        href="https://es-la.facebook.com/dvwireless/",
                        target="_blank"
                    )
                        svg(
                            xmlns="http://www.w3.org/2000/svg",
                            width="38",
                            height="38",
                            class="icon",
                            data-icon="facebook",
                            viewBox="0 0 264 512"
                        )
                            path(
                                d="M215.8 85H264V3.6C255.7 2.5 227.1 0 193.8 0 124.3 0 76.7 42.4 76.7 120.3V192H0v91h76.7v229h94V283h73.6l11.7-91h-85.3v-62.7c0-26.3 7.3-44.3 45.1-44.3z"
                            )
                li.nav-item
                    a(href="//search.google.com/local/writereview?placeid=ChIJX1M3s4Xo3ogRlrpovONAayM")
                        svg(
                            xmlns="http://www.w3.org/2000/svg",
                            width="38",
                            height="38",
                            class="icon",
                            data-icon="google",
                            viewBox="0 0 488 512"
                        )
                            path(
                                d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"
                            )
        
        main
            article
                .container
                    .row.justify-content-center
                        section#services.justify-content-center
                            .card-deck.text-center.justify-content-around
                                .card.border-0.my-3
                                    img.img-fluid.card-img-top.mx-auto.lazy(data-src=require('../../img/icon-buy.png'), data-srcset=require('../../img/icon-buy.png') alt="")
                                    .card-body
                                        h3.card-title Buy
                                        p.card-text We sell new and used, refurbished smatphones. All our certified pre-owned phones include a 45 day warranty.
                                .card.border-0.my-3
                                    img.img-fluid.card-img-top.mx-auto.lazy(data-src=require('../../img/icon-buy_back.png'), data-srcset=require('../../img/icon-buy_back.png'), alt="")
                                    .card-body
                                        h3.card-title Buy-Back Program
                                        p.card-text We purchase all types of devices like iPhones, smartphones, iPads, computers and smart watches.
                                .card.border-0.my-3
                                    img.img-fluid.card-img-top.mx-auto.lazy(data-src=require('../../img/icon-repair.png'), data-srcset=require('../../img/icon-repair.png'), alt="")
                                    .card-body
                                        h3.card-title Cellphone repair
                                        p.card-text Highly Rated Repair Shop on Google+ and Facebook. Square Trade Certified Repair Store. We can fix them all. What maskes us different from the others, is our great customer service, low prices and our 90 DAY PART WARRANTY.
                                .card.border-0.my-3
                                    img.img-fluid.card-img-top.mx-auto.lazy(data-src=require('../../img/icon-unlocking.png'),data-srcset=require('../../img/icon-unlocking.png'), alt="")
                                    .card-body
                                        h3.card-title Network Unlocking Service
                                        p.card-text At #DVWIRELESS, we can unlock any iPhone or Smartphone from any of the US main networks. Why wait for the network to unlock your phone? We can help you with any UNLOCKING case. Call or text: 772-905.8490.
                                .card.border-0.my-3
                                    img.img-fluid.card-img-top.mx-auto.lazy(data-src=require('../../img/icon-prepaid_wireless_services.png'), data-srcset=require('../../img/icon-prepaid_wireless_services.png'), alt="")
                                    .card-body
                                        h3.card-title Prepaid Wireless Services
                                        p.card-text Lower costs. More flexibility. No Credit Check. No contract. Unlimited Calling - Text - Web access - 4G LTE. There are many reasons to consider a prepaid phone plan and there are many options to consider. 
                                .card.border-0.my-3
                                    img.img-fluid.card-img-top.mx-auto.lazy(data-src=require('../../img/icon-data_transfer.png'), data-srcset=require('../../img/icon-data_transfer.png'), alt="")
                                    .card-body
                                        h3.card-title Data Transfer
                                        p.card-text We understand how important your information is. Our data team, can help you transfering the information you need to your new device.

                .container-fluid
                    .row
                        section#about_us.col-12.col-lg-6
                            p.text-justify.mb-2 Serving the Treasure Coast since 2012, DV WIRELESS is your one stop shop for all of your iPhone & Smartphone needs. Locally owned and operated, we buy, sell, and trade phones and tablets and provide quality repairs, from the most basic to the complex.
                            p.text-justify.mb-2 We maintain a big selection premium cellphone aacesories at the best price in town. At DV WIRELESS we do it all. We've got the latest UNLOCKED phones and accessories, prepaid plans and affordable repair for iPhones, smartphones, tablets and computers. You can expect reliable repairs for your mobile devices and personalized one-on-one customer service, and all of our repairs are backed by our 90 day warranty.
                            .row.justify-content-center
                                .col-.mt-4
                                    p#cta.text-center Come to DV WIRELESS and 
                                        span we'll take care of you.
                            .row.justify-content-center
                                .col-.mt-4
                                    button.btn.text-left.d-flex.align-items-center(
                                        type="button",
                                        data-toggle="form",
                                        data-target="#form"
                                    )
                                        img.d-inline-block(src=require('../../img/icon-comment.svg'), alt="")
                                        span.d-inline-block.ml-2 Do you want to leave us a comment?
                        section#contact.col-12.col-lg-6.px-5
                            .row.justify-content-center.mb-2
                                .col-
                                    h2.text-center Visit the nearest store to you
                                    p.text-center.lead "Hablamos español"
                            .row.justify-content-around
                                address#contact_box1.col-8.col-sm-10.col-md-6
                                    .row.h-100.align-items-center
                                        .col-12.col-sm-6.col-md-12
                                            .row.justify-content-center
                                                .col-5
                                                    img.img-fluid.mb-3.lazy(data-src=require('../../img/logo-boostMobile.png'), data-srcset=require('../../img/logo-boostMobile.png'), alt="")
                                            .row.justify-content-center
                                                .col-3.text-center.p-0
                                                    img.align-self-center.lazy(data-src=require('../../img/icon-location.png'), data-srcset=require('../../img/icon-location.png'), alt="")
                                                .col-7.p-0.ml-3
                                                    p 10872 South US Highway 1, Port St. Lucie, FL 34952
                                            .row.justify-content-center
                                                .col-3.text-center.p-0
                                                    a(href="https://wa.me/17729058490")
                                                        img.lazy(data-src=require('../../img/icon-whatsapp.png'), data-srcset=require('../../img/icon-whatsapp.png'), alt="")
                                                    a.ml-2(href="tel:+17729058490")
                                                        img.lazy(data-src=require('../../img/icon-phone.png'), data-srcset=require('../../img/icon-phone.png'), alt="")
                                                .col-7.p-0.ml-3
                                                    p +1 772 905-8490
                                            .row.justify-content-center
                                                .col-3.text-center.p-0
                                                    img.lazy(data-src=require('../../img/icon-email.png'), data-srcset=require('../../img/icon-email.png'), alt="")
                                                .col-7.p-0.ml-3
                                                    a(href="mailto:info@dvwireless.com") info@dvwireless.com
                                            .row.justify-content-center
                                                .col-.my-3
                                                    button.btn.btn-primary(type='button', data-toggle='popover', title='Operation Hours', data-content='<ul class=\'list-unstyled\'><li>Monday 10:00am - 7:00pm</li><li>Tuesday 10:00am - 7:00pm</li><li>Wednesday 10:00am - 7:00pm</li><li>Thursday 10:00am - 7:00pm</li><li>Friday 10:00am - 7:00pm</li><li>Saturday 10:00am - 6:00pm</li><li>Sunday 11:00am - 4:00pm</li></ul>', data-placement='top') Show Operation Hours
                                        .col-12.col-sm-6.col-md-12
                                            .map-responsive.mt-3
                                                iframe(
                                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3546.5047419380508!2d-80.28723168524267!3d27.26605798297669!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88dee885b337535f%3A0x236b40e3bc68ba96!2sDV+WIRELESS+-+Mobile+Phone+Store+-+iPhone+%26+Smartphone+Repair+-+Accessories+-+Port+St.+Lucie!5e0!3m2!1sen!2sve!4v1558119654248!5m2!1sen!2sve",
                                                    width="100%",
                                                    height="100%",
                                                    frameborder="0",
                                                    style="border:0",
                                                    allowfullscreen
                                                )
                                        
                                address#contact_box2.col-8.col-sm-10.col-md-6.mt-2.mt-sm-0
                                    .row.h-100.align-items-center
                                        .col-12.col-sm-6.col-md-12
                                            .row.justify-content-center
                                                .col-5
                                                    img.img-fluid.mb-3.invisible.lazy(data-src=require('../../img/logo-boostMobile.png'), data-srcset=require('../../img/logo-boostMobile.png'), alt="")
                                            .row.justify-content-center
                                                .col-3.text-center.p-0
                                                    img.lazy(data-src=require('../../img/icon-location.png'), data-srcset=require('../../img/icon-location.png'), alt="")
                                                .col-7.p-0.ml-3
                                                    p 2201 SE Indian St unit f19, Stuart, FL 34997
                                            .row.justify-content-center
                                                .col-3.text-center.p-0
                                                    a(href="https://wa.me/17728348787")
                                                        img.lazy(data-src=require('../../img/icon-whatsapp.png'), data-srcset=require('../../img/icon-whatsapp.png'), alt="")
                                                    a.ml-2(href="tel:+17728348787")
                                                        img.lazy(data-src=require('../../img/icon-phone.png'), data-srcset=require('../../img/icon-phone.png'), alt="")
                                                .col-7.p-0.ml-3
                                                    p +1 772 834-8787
                                            .row.justify-content-center
                                                .col-3.text-center.p-0
                                                    img.lazy(data-src=require('../../img/icon-email.png'), data-srcset=require('../../img/icon-email.png'), alt="")
                                                .col-7.p-0.ml-3
                                                    a(href="mailto:info@dvwireless.com") info@dvwireless.com
                                            .row.justify-content-center
                                                .col-.my-3
                                                    button.btn.btn-primary(type='button', data-toggle='popover', title='Hours of Operation', data-content='<ul class=\'list-unstyled\'><li>Saturday 8:00am - 3:00pm</li><li>Sunday 8:00am - 3:00pm</li></ul>', data-placement='top') Show Operation Hours
                                        .col-12.col-sm-6.col-md-12
                                            .map-responsive.mt-3
                                                iframe(
                                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3549.6453408729367!2d-80.22634058524513!3d27.1674468830186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88deddae8f37147d%3A0x3d7d3da519c7bb41!2sDV+WIRELESS+-+Mobile+Phone+Store+-+iPhone+%26+Smartphone+Repair+-+Accessories+-+Stuart!5e0!3m2!1sen!2sve!4v1558119769204!5m2!1sen!2sve",
                                                    width="100%",
                                                    height="100%",
                                                    frameborder="0",
                                                    style="border:0",
                                                    allowfullscreen
                                                )
                
        //- Include form
        include ../includes/form.pug
        
        //- Include footer
        include ../includes/footer.pug
