#form.container-fluid.overlay.animated.fadeIn
    .row.h-100.justify-content-center.align-items-center
        #form-inner.col-12.col-sm-8.col-md-6.my-5
            .row.justify-content-end
                .col-.mr-3
                    button(type="button", class="close" aria-label="Close")
                        span(aria-hidden="true") &times;
            .row.justify-content-center
                .col-.mr-2
                    img(src=require('../../img/icon-comment.svg'), alt="")
                .col-.text-center
                    h2 Do you want to leave us a comment?
            .row.mt-4
                .col-12
                    form.form(name="form", action=require('../../php/send.php'), method="post", role="form")
                        .form-group.row
                            label.col-3.col-form-label(for="name") Name
                            .col-9
                                input#name.form-control(type="text", name="name", required)
                        .form-group.row
                            label.col-3.col-form-label(for="email") Email
                            .col-9
                                input#email.form-control(type="email", name="email", required)
                        .form-group.row
                            label.col-3.col-form-label(for="phone") Phone
                            .col-9
                                input#phone.form-control(type="tel", name="phone")
                        .form-group.row
                            label.col-3.col-form-label(for="comment") Comment
                            .col-9
                                textarea#comment.form-control(name="comment", rows="5", required)
                        .form-group.row.d-none
                            label.col-3.col-form-label(for="website") Website
                            .col-9
                                input#website.form-control(type="text", name="website")
                        .row.justify-content-center
                            .col-.text-center
                                .messages.alert.d-none
                        .row.justify-content-end
                            .col-3.text-right
                                button.btn.btn-submit(type="submit", value="Send") SEND
