


mixin head

    head
        //- Include Google tag manager
        script.
            (function googleTagManager(w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
                var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-THWB9JB');
        meta(charset="UTF-8")
        meta(
            name="viewport",
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        )
        meta(
            name="author",
            content="Edson J Vargas <contacto@edsonvargas.com.ve>"
        )
        title #{title} | DV Wireless