


//- Se define la barra de navegación superior
nav#main_menu.navbar.sticky-top
    .container
        a.navbar-brand(href="#")
            img.img-fluid(src=require("../../img/logo-dv_wireless.png"), alt="")
        .navbar-collapse.offcanvas-collapse.pt-5
            ul.navbar-nav.mx-auto.flex-column
                li.nav-item.active
                    a.nav-link(href="#services") Services
                li.nav-item
                    a.nav-link(href="#about_us") About Us
                li.nav-item
                    a.nav-link(href="#contact") Contact
        #phones.ml-auto.d-none.d-md-block
            #phone1
                a(href="tel:+1 772 905-8490") +1 772 905-8490 &nbsp;
                span Port St. Lucie - FL
                img.ml-3(src=require('../../img/logo-boostMobile.png'), alt="")
            #phone2
                a(href="tel:+1 772 834-8787") +1 772 834-8787 &nbsp;
                span Stuart - FL
        button.navbar-toggler.p-2.ml-5(
            type="button",
            data-toggle="offcanvas"
        )
            img(src=require('../../img/icon-menu.svg'), alt="")
