

.overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: 9000;
    overflow-y: scroll;
}
#form {
    background-color: rgba(0, 0, 0, .9);
    color: #ffffff;
    h2 {
        color: #ffffff;
        // &::before {
        //     content: url('../img/icon-comment.svg');
        // }
    }
    label {
        font-size: 1.285rem;
    }
}
button.btn-submit {
    background-color: #7ac943;
    color: #ffffff;
}
.close {
    color: #ffffff;
    font-size: 2.5rem;
    opacity: .7;
}
.close:hover {
    color: #ffffff;
    opacity: 1;
}
