


// Import main styles
@import 'main.scss';

aside {
    padding: 48px 0;
    background-color: #f2f2f2;
}
section,
footer {
    padding: 65px 0;
}
h1,
h3,
a,
p {
    font-weight: 300;
}
h2 {
    font-weight: 400;
}
h2,
h3,
#about_us span {
    color: #3fa9f5;
}

#services .card {
    min-width: 278px;
    max-width: 278px;
    img {
        width: auto;
        height: 72px;
    }
    .card-title {
        font-size: 1.714rem;
    }
    .card-text {
        font-size: 1.285rem;
    }
}
.media img {
    margin-right: .7rem;
}

#about_us {
    background-color: #f2f2f2;
    padding-left: 6rem;
    padding-right: 6rem;
    p {
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
        line-height: 1.8rem;
    }
    #cta  {
        font-size: 1.285rem;
        span {
            font-weight: 600;
        }
    }
    button.btn {
        font-size:  1.285rem;
        span {
            font-weight: 400;
            color: #000000;
        }
    }
}

footer {
    background-color: #333333;
    color: #7ac943;
    font-weight: 400;
    font-size: 80%;
    p {
        margin: 0;
    }
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
address p {
    margin: 0 0 .5rem 0;
    font-size: 1rem;
}
.icon {
    display: inline-block;
    border: 1.5px solid #000000;
    color: #000000;
    padding: 8px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    fill: #000000;
    &:hover {
        border: 1.5px solid #3fa9f5;
        fill: #3fa9f5;
    }
}
#rrss a {
    margin: .7rem;
}

@include media-breakpoint-up(md) {
    #item_heading1 {
        position: absolute;
        top: 10%;
        right:10%;
        // transform: translateY(10%);
    }
    #item_heading2 {
        position: absolute;
        bottom: 15%;
        right: 10%;
    }
    #item_heading3 {
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
    }
}
@include media-breakpoint-down(md) {
    .card-img-overlay {
        background-color: rgba(255,255,255,.5);
    }
    /* div[id^='item_heading'] {
        position: relative;
        justify-self: center;
        align-self: center;
    } */
}
.carousel {
    .card-title {
        font-size: 3.428rem;
    }
    .card-text {
        font-size: 1.714rem;
    }
    .carousel-indicators {
        li {
            background-color: #000000;
            &.active {
                background-color: #3fa9f5;
            }
        }
    }
    @include media-breakpoint-down(md) {
        .card-title {
            font-size: 2.142rem;
        }
        .card-text {
            font-size: 1.428rem;
        }
    }
    @include media-breakpoint-down(sm) {
        .card-title {
            font-size: 2rem;
        }
        .card-text {
            font-size: 1.285rem;
        }
    }
}
#contact {
    h2 {
        font-size: 1.714rem;
    }
    .lead {
        font-size: 1rem;
        color: #3fa9f5;
    }
}