


nav {
    background-color: #FFFFFF;
    .navbar-brand img {
        @include media-breakpoint-down(sm) {
            height: 65%;
            width: 65%;
        }
    }
    #phones {
        font-weight: 600;
        a {
            font-size: 18px;
            font-weight: 600;
            color: #7ac943;
        }
        span {
            font-size: 14px;
        }
        img {
            width: 77px;
        }
    }   
    li.nav-item {
        border: none;
        border-bottom: 1px solid #bdc3c7;
        .nav-link {
            font-size: 24px;
            font-weight: 600;
            padding: .8rem;
            color: #ffffff;
            &:hover {
                color: #3fa9f5;
            }
        }
    }
    .offcanvas-collapse {
        position: fixed;
        // top: 107px; /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 20rem;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: rgba(#000000, .8);
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
        /* @include media-breakpoint-down(sm) {
            //top: 77px;
        } */
    }
    .offcanvas-collapse.open {
        visibility: visible;
        transform: translateX(-100%);
    }
    .navbar-toggler {
        transition: transform .3s ease-in-out;
    }
    .navbar-toggler.rotate {
        transform: rotate(90deg);
    }
}